In [4]:
# Grocery Shopping
shopping_list = []

In [28]:
print("Add four items")
for i in range (1,5):
    shopping_list.append(input("Enter the Items you want to add = "))

Add four items

In [41]:
user = int(input("Enter the number = "))
for i in range(user):
    shopping_list.remove(input("What to remove = "))

In [42]:
def display_list(shopping):
    print(shopping)

In [43]:
shopping_list

['Tomato', 'Tomato', 'Potato', 'Ginger', 'Garlic']

In [44]:
shopping_list

['Tomato', 'Tomato', 'Potato', 'Ginger', 'Garlic']

In [45]:
# Student Grades 
students = {}

In [47]:
for i in range (1,6):
    students['Student '+ str(i)] = int(input("Enter Marks = "))

In [48]:
students

{'Student 1': 20,
 'Student 2': 30,
 'Student 3': 40,
 'Student 4': 50,
 'Student 5': 60}

In [49]:
num = 0
for key,value in students.items():
    num = value + num
    
avg = num / len(students)
print(avg)

40.0

In [50]:
# Frequency Counter

In [51]:
word_list = ['apple','banana','apple','orange','banana','grape','apple']

In [52]:
for i in word_list:
    print(word_list.count(i))

3
2
3
1
2
1
3